{% extends 'main.html' %}


{% include 'navbar.html' %}

{% block content %}

<main class="settingsPage profile my-md">
<div class="formPage my-xl">
  <div style="padding: center" class="content-box">
    <div class="formWrapper">
      <div  class="container  form--inline container--header-form ">
          <button class="backButton pointer" onclick="history.back()"><i class="im im-angle-left" style="color:navy">&lt;</i></button>
      </div>
        <div class="center">
          <label class="form__field form__label--inline form__label strong font-xl">Request Details</label>
        </div>

    <table class=" table table-striped table-hover table-bordered table-condensed">
          <tbody onload="">

            <tr >
              <td>Request NO.</td>
              <td>{{details.request_number}}</td>
            </tr>
            <tr>
              <td>Category</td>
              <td>{{details.request_category_id}}</td>
            </tr>
            <tr>
              <td>Sub Category</td>
              <td>{{details.request_sub_category_id}}</td>
            </tr>
            <tr>
              <td>Description</td>
              <td>{{details.request_description}}</td>
            </tr>
            <tr>
              <td>Owner</td>
              {% for emp in details.request_employee_id.all %}
              <td>{{emp}}</td>
              {% endfor %}
            </tr>
            <tr>
              <td>Location</td>
              <td>{{details.request_location_id}}</td>
            </tr>
            <tr>
              <td>Status</td>
              <td>{{details.request_status}}</td>
            </tr>
            <tr>
              <td>Created</td>
              <td>{{details.request_created}}</td>
            </tr>
            <tr>
              <td>Message</td>
              <td>{{details.request_message}}</td>
            </tr>
          </tbody>
        </table>
      {% for emp in details.request_employee_id.all %}
                    <span class="tag tag--pill tag--sub tag--lg">
                        <small>{{emp}}</small>
                    </span>
                    {% endfor %}
      {% if details.request_img %}
<!--        <tr>-->
<!--              <td>Image</td>-->
              <img src="{{ details.request_img.url }}">
<!--            </tr>-->
      {% endif %}
      <form class="form" method="POST" , enctype="multipart/form-data" xmlns="http://www.w3.org/1999/html">
                    {% csrf_token %}
      <div class="form__field">
                    <label for="formInput#text">{{form.body.label}} </label>
                    {{form.body}}

                </div>
      <input id="form--submit" class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
      </form>
    </div>
  </div>
  </div>
</main>

{% endblock content %}