{% extends 'main.html' %}

{% comment %} {% include 'navbar.html' %} {% endcomment %}

{% block content %}

    <form class="form" method="POST", enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}

                                <!-- Input:Text -->
                                <div class="form__field">
                                    <label for="formInput#text">{{field.label}} </label>
                                    {{field}}
                                </div>
                    {% endfor %}

    <h1>Request Page</h1>
    </form>

{% endblock content %}